<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" rel="stylesheet" type="text/css" />
<style>
    .image {
        width: 80%
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .owl-theme .owl-nav {
        margin-top: 0px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }
    }
</style>
<div class="" style="background-image: url(../../images/banner4.png);height:500px;width:100%" data-aos="fade">
    <div class="container1">
        <div class="row align-items-start align-items-md-center justify-content-end" style="height:500px">
            <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
                <h1 class="mb-2">Air Jordan 1 High OG “Nike Air” Pack</h1>
                <div class="intro-text text-center text-md-left">
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla. </p>
                    <p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 ">
    <div class="row ">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
            <a class="block-2-item" href="#">
                <figure class="image">
                    <img src="~/images/nikeposter.png" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <span class="text-uppercase">Collections</span>
                    <h3>Nike</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <a class="block-2-item" href="#">
                <figure class="image">
                    <img src="~/images/adidasposter.png" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <span class="text-uppercase">Collections</span>
                    <h3>Adidas</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <a class="block-2-item" href="#">
                <figure class="image">
                    <img src="~/images/converseposter.png" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <span class="text-uppercase">Collections</span>
                    <h3>Converse</h3>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="site-section block-3 site-blocks-2 bg-light mt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Featured Products</h2>
            </div>
        </div>
        <div class="row">
            <div id="owl-carousel" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="block-4 text-center">
                        <figure class="block-4-image">
                            <img src="~/images/Giay NMD S1.jpg" alt="Image placeholder" class="img-fluid">
                        </figure>
                        <div class="block-4-text p-4" style="margin-top:-130px">
                            <h3><a href="#">Tank Top</a></h3>
                            <p class="mb-0">Finding perfect t-shirt</p>
                            <p class="text-primary font-weight-bold">$50</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-4 text-center">
                        <figure class="block-4-image">
                            <img src="~/images/Giay NMD_R1 Primeblue.jpg" alt="Image placeholder" class="img-fluid">
                        </figure>
                        <div class="block-4-text p-4" style="margin-top:-130px">
                            <h3><a href="#">Corater</a></h3>
                            <p class="mb-0">Finding perfect products</p>
                            <p class="text-primary font-weight-bold">$50</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-4 text-center">
                        <figure class="block-4-image">
                            <img src="~/images/Giay NMD_V3.jpg" alt="Image placeholder" class="img-fluid">
                        </figure>
                        <div class="block-4-text p-4" style="margin-top:-130px">
                            <h3><a href="#">Polo Shirt</a></h3>
                            <p class="mb-0">Finding perfect products</p>
                            <p class="text-primary font-weight-bold">$50</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-4 text-center">
                        <figure class="block-4-image">
                            <img src="~/images/Giay Supernova.jpg" alt="Image placeholder" class="img-fluid">
                        </figure>
                        <div class="block-4-text p-4" style="margin-top:-130px">
                            <h3><a href="#">T-Shirt Mockup</a></h3>
                            <p class="mb-0">Finding perfect products</p>
                            <p class="text-primary font-weight-bold">$50</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-4 text-center">
                        <figure class="block-4-image">
                            <img src="~/images/Giay ZNCHILL.jpg" alt="Image placeholder" class="img-fluid">
                        </figure>
                        <div class="block-4-text p-4" style="margin-top:-130px">
                            <h3><a href="#">Corater</a></h3>
                            <p class="mb-0">Finding perfect products</p>
                            <p class="text-primary font-weight-bold">$50</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script>
    $('#owl-carousel').owlCarousel({
        loop: true,
        margin: 20,
        dots: true,
        nav: true,
        items: 3,
    })
</script>