<div class="container border-top mt-3 ">
    <footer class="site-footer mt-3">
        <div class="container1">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="footer-heading mb-4">Store location</h3>
                            <div class="col-md-6 col-lg-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2031.1240232255136!2d105.87640729903686!3d20.98871000348765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1680955058625!5m2!1svi!2s" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <h3 class="footer-heading mb-4">Promo</h3>
                    <a href="#" class="block-6">
                        <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                        <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address">Hoang Mai - Ha Noi</li>
                            <li class="phone"><a href="">+84 398765432</a></li>
                            <li class="email">shoereps@gmail.com</li>
                        </ul>
                    </div>

                    <div class="block-7">
                        <form action="#" method="post">
                            <label for="email_subscribe" class="footer-heading">Subscribe</label>
                            <div class="form-group row">
                                <div class="col-md-8 mb-3 mb-md-0">
                                    <input type="text" class="form-control " id="email_subscribe" placeholder="Email">
                                </div>
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-primary" value="Send">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row pt-3 mt-2 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ri-heart-fill" style="color:red;"></i> by  Ngọc Oanh</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </div>
    </footer>
</div>


