<div class="container">
    <header class="header mt-3">
        <div class="row">
            <div class="col-md-3"><img onclick="window.location = '/Home/Index'" src="~/images/logo1.jpg" style="width: 65%" /></div>
            <div class="col-md-5"><input class="search form-control mt-3" type="search" id="search" name="search" /></div>
            <div class="col-md-1"><button class="btn btn-outline-dark mt-3" style="height:35px"><i class="ri-search-2-line"></i></button></div>
            <div class="col-md-1"><button class="btn btn-outline-dark mt-3" style="height:35px" onclick="window.location = '/Cart/Index'"><i class="ri-shopping-cart-2-line"></i></button></div>
            <div class="col-md-2"><button class="btn btn-outline-dark mt-3" style="height:35px">Tài khoản</button></div>
        </div>
    </header>
</div>