<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/Home/Index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
        </div>
    </div>
</div>

<div class="container mt-3">

    <div class="row mb-5">

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>

                </div>
            </div>
            <div class="row mb-5">
                @foreach (var item in ViewBag.list_detail)
                {
    <div class="col-sm-6 col-lg-3 mb-4" data-aos="fade-up">
        <div class="block-4 text-center border">
            <figure class="block-4-image">
                <a href="/Shop/ProductDetail?id=@item.ProductId"><img src="@Url.Content("/images/"+item.Url)" alt="Image placeholder" class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
                <h3><a href="/Shop/ProductDetail">@item.Name</a></h3>
                <p class="mb-0">@item.Description</p>
                <p class="text-primary font-weight-bold">@item.Price ₫</p>
            </div>
        </div>
    </div>
    }
            </div>

        
    </div>

    <div class="row ">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
            <a class="block-2-item" href="#">
                <figure class="image">
                    <img src="~/images/nikeposter.png" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <span class="text-uppercase">Collections</span>
                    <h3>Nike</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <a class="block-2-item" href="#">
                <figure class="image">
                    <img src="~/images/adidasposter.png" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <span class="text-uppercase">Collections</span>
                    <h3>Adidas</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <a class="block-2-item" href="#">
                <figure class="image">
                    <img src="~/images/converseposter.png" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <span class="text-uppercase">Collections</span>
                    <h3>Converse</h3>
                </div>
            </a>
        </div>
    </div>

</div>


